@{
    ViewData["Title"] = "Our Products";
}

<div class="container mt-4">
    <h2 class="mb-3 text-primary">បញ្ជីមុខទំនិញក្នុងហាង</h2>
    <ul class="list-group">
        @foreach (var item in ViewBag.Products)
        {
            <li class="list-group-item d-flex align-items-center">
                <li class="fa-solid fa-check-circle text-success me-2"></li>
                @item
            </li>
        }
    </ul>
</div>
